# This file tells git what to ignore when saving our source code 
# to the repository

# Ignore eclipse files created by gradle
.settings/
.classpath
.project

# Ignore IntelliJ project files
.idea

# Ignore Visual Studio Code settings
.vscode/

# Ignore NetBeans gradle file
/.nb-gradle/

# Ignore the gradle runtime (it gets downloaded as needed)
.gradle/

# Ignore the build and binary directories. They're rebuilt 
# every time.
build/
bin/

# Ignore the .class files we create when we build. We only 
# want to store source code.
.class

# Ignore Mac folder settings
.DS_Store

# Ignore Vim swp files
.swp